<div class="container mt-5">
    <!-- <h2 class="text-center mb-4">Register New User</h2> -->
  
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="row g-3 justify-content-center">
      
      <div class="col-md-12">
        <label class="form-label">Full Name</label>
        <input type="text" formControlName="fullName" class="form-control" placeholder="Enter full name">
      </div>
  
      <div class="col-md-12">
        <label class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Enter email">
      </div>
  
      <div class="col-md-12">
        <label class="form-label">Username</label>
        <input type="text" formControlName="username" class="form-control" placeholder="Enter username">
      </div>
  
      <div class="col-md-12">
        <label class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" placeholder="Enter password">
      </div>
  
      <div class="col-md-12">
        <label class="form-label">Role</label>
        <select formControlName="role" class="form-select">
          <option value="Supervisor">Supervisor</option>
          <option value="Admin">Admin</option>
          <option value="Student Worker">Student Worker</option>
        </select>
      </div>
  
      <div class="col-12 text-center mt-3">
        <button type="submit" class="btn btn-success px-5">Register</button>
      </div>
  
    </form>
  </div>
  